In [1]:
import pandas as pd
import numpy as np

import re

from sklearn.svm import SVC

from pandas import DataFrame

In [2]:
# Read data in the excel file
df = pd.read_csv('dataset.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.shape

(768, 9)

In [4]:
df.drop(['Pregnancies'], axis = 1)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [5]:
#df.drop(df[(df['Glucose'] < 100) & (df['Glucose'] > 126)].index, inplace=True)

In [6]:
#df

In [7]:
#df = df.drop(df.index[df['Glucose'] < 100])

In [8]:
#df

In [9]:
#df = df.drop(df.index[df['Glucose'] > 130])

In [10]:
#df

In [11]:
df = df.drop(df.index[df['Age'] < 45])

In [12]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
...,...,...,...,...,...,...,...,...,...
754,8,154,78,32,0,32.4,0.443,45,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
763,10,101,76,48,180,32.9,0.171,63,0
766,1,126,60,0,0,30.1,0.349,47,1

In [13]:
df.to_csv(r'type2.csv')

In [14]:
df = pd.read_csv('type2.csv')
df.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72,35,0,33.6,0.627,50,1
1,8,2,197,70,45,543,30.5,0.158,53,1
2,9,8,125,96,0,0,0.0,0.232,54,1
3,12,10,139,80,0,0,27.1,1.441,57,0
4,13,1,189,60,23,846,30.1,0.398,59,1

In [15]:
from sklearn.model_selection import train_test_split
splitRatio = 0.2

train , test = train_test_split(df,test_size = splitRatio,random_state = 123)

X_train = train[[x for x in train.columns if x not in ["Outcome"]]]
y_train = train[["Outcome"]]

X_test  = test[[x for x in test.columns if x not in ["Outcome"]]]
y_test  = test[["Outcome"]]

In [16]:
from sklearn.model_selection import train_test_split 
#X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(106, 9)
(106, 1)
(27, 9)
(27, 1)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

model = SVC()

#model = KNeighborsClassifier()
#model = LogisticRegression()
#model = GaussianNB()
#model =  LinearRegression()

#X_train = X_train.reshape(-1,1)
#X_test = X_test.reshape(-1,1)

model.fit(X_train,y_train)
prediction = model.predict(X_test)
accuracy_score(y_test,prediction)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.6296296296296297

In [18]:
print("Train acc: " , model.score(X_train, y_train))
print("Test acc: ", model.score(X_test, y_test))

Train acc:  0.6698113207547169
Test acc:  0.6296296296296297