In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

from sklearn.svm import SVC




from pandas import DataFrame

In [2]:
# Read data in the excel file
df = pd.read_csv('dataset.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.shape

(768, 9)

In [4]:
df.drop(['Pregnancies'], axis = 1)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [5]:
#df = df.drop(df.index[df['Glucose'] < 100])

In [6]:
#df

In [7]:
#df = df.drop(df.index[df['Glucose'] > 130])

In [8]:
#df

In [9]:
df = df.drop(df.index[df['Age'] > 25])

In [10]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89,66,23,94,28.1,0.167,21,0
27,1,97,66,15,140,23.2,0.487,22,0
32,3,88,58,11,54,24.8,0.267,22,0
45,0,180,66,39,0,42.0,1.893,25,1
47,2,71,70,27,0,28.0,0.586,22,0
...,...,...,...,...,...,...,...,...,...
742,1,109,58,18,116,28.5,0.219,22,0
750,4,136,70,0,0,31.2,1.182,22,1
752,3,108,62,24,0,26.0,0.223,25,0
760,2,88,58,26,16,28.4,0.766,22,0
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
df.to_csv(r'type1.csv')

In [12]:
df = pd.read_csv('type1.csv')
df.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,1,89,66,23,94,28.1,0.167,21,0
1,27,1,97,66,15,140,23.2,0.487,22,0
2,32,3,88,58,11,54,24.8,0.267,22,0
3,45,0,180,66,39,0,42.0,1.893,25,1
4,47,2,71,70,27,0,28.0,0.586,22,0

In [13]:
from sklearn.model_selection import train_test_split
splitRatio = 0.2

train , test = train_test_split(df,test_size = splitRatio,random_state = 123)

X_train = train[[x for x in train.columns if x not in ["Outcome"]]]
y_train = train[["Outcome"]]

X_test  = test[[x for x in test.columns if x not in ["Outcome"]]]
y_test  = test[["Outcome"]]

In [14]:
from sklearn.model_selection import train_test_split 
#X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(213, 9)
(213, 1)
(54, 9)
(54, 1)

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

model = SVC()

#model = KNeighborsClassifier()
#model = LogisticRegression()
#model = GaussianNB()
#model =  LinearRegression()

#X_train = X_train.reshape(-1,1)
#X_test = X_test.reshape(-1,1)

model.fit(X_train,y_train)
prediction = model.predict(X_test)
accuracy_score(y_test,prediction)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.9074074074074074

In [16]:
print("Train acc: " , model.score(X_train, y_train))
print("Test acc: ", model.score(X_test, y_test))

Train acc:  0.8262910798122066
Test acc:  0.8518518518518519